body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: radial-gradient(ellipse at bottom, #022227, #000);
    color: #fff;
}
h2 {
    font-family: righteous, sans-serif;
}
p, h4 {
    font-family: "Montserrat", sans-serif;
}
section[id] {
    scroll-margin-top: 90px;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #ffd369 #212121;
}

.navbar {
    justify-content: center;
}

.navbar div {
    margin: 5.5em 0 0 0;
    width: 20em;
    height: 3em;
    background-color: #212121;
    border: 0.15em solid #ffd369;
    border-radius: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;

    animation: navbar-difusion linear both;
    animation-timeline: scroll(root);
    animation-range: 0 7em;
}

.navbar div a:hover i {
    color: #ac8f49 !important;
    transition: color 0.3s ease;
}

@keyframes navbar-difusion {
    to {
        background: transparent;
        backdrop-filter: invert(20%) blur(5px);
    }
}

.personal-info {
    margin: 0 9.3em;
    padding: 7.5em 0 9.3em 7.5em; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
    border-bottom: 0.15em solid #ffd369;
}

.personal-info img {
    border-radius: 100%;
    margin-top: 3.3em;
    width: 15.6em;
    height: 15.6em;
}

.personal-info h1 {
    display: inline-block;
    margin: 1em 0 0 0;
    font-size: 2.5em;
}

.personal-info h3 {
    margin: 0;
    padding-top: 1em;
}

.personal-info p {
    margin: 0;
    padding: 1.5em 0 3em 0;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.social-links a {
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em;
    border-radius: 2.2em;
    width: 3em;
    height: 3em;
    border: 0.15em solid #ffd369;
    text-align: center;
    align-content: center;
}

.social-links a:hover {
    background: #ffd369;
    transition: background 0.3s ease;
}

.social-links a:hover i {
    color: #000 !important;
    transition: color 0.3s ease;
}

.button-primary {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    align-content: center;
    border-radius: 4.5em;
}

.button-primary a {
    display: inline-block;
    width: 12.5em;
    background-color: #ffd369;
    font-size: large;
    font-weight: bold;
    border: 0.15em solid #ffd369;
    color: #000;
    text-decoration: none;
    transition: all 0.7s ease;
}

.button-primary a:hover {
    color: #ffd369;
    background-color: #000;
    border: 0.15em solid #ffd369;
    transition: background-color 0.5s ease;
}

.accent-color {
    color: #ffd369;
}

.presentation {
    display: inline-block;
    white-space: nowrap;
    border-right: 0.25em solid;
    width: 23ch;
    animation: typing 2s steps(15), blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.projects {
    margin-top: 5em;

    
    & h2 {
        display: inline;
        margin: 0 0 0 6em;
        
        view-timeline-name: --text;
        view-timeline-axis: block;
        animation-timeline: --text;
        animation-name: show-text;
        animation-fill-mode: both;
        animation-range: entry 50% cover 80%;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    width: 300px;
    height: 215px;
    background: #ffd369;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show;
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
}

.container .card:hover {
    height: 420px;
    background-color: #eeb42c;
}

.container .card .imgBx {
    position: relative;
    width: 230px;
    height: 230px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
.education {
    margin: 0 0 8em 0;

    & h2 {
        margin: 0 0 2em 6em;
        
        view-timeline-name: --text;
        view-timeline-axis: block;
        animation-timeline: --text;
        animation-name: show-text;
        animation-fill-mode: both;
        animation-range: entry 50% cover 80%;

    }
    .education-card {
        width: 30em;
        height: 5em;
        margin: 1em 1em 1em 14em;
        padding: 0.5em;
        background-color: transparent;
        text-align: start;
        border: 2px solid #ffd369;
        border-radius: 0.7em;

        view-timeline-name: --card;
        view-timeline-axis: block;
        animation-timeline: --card;
        animation-name: show-horizontal;
        animation-fill-mode: both;
        animation-range: entry 15% cover 25%;
    }
}
@keyframes show-horizontal {
    from {
        opacity: 0;
        scale: 25%;
        transform: translateX(800px);
    }
    to {
        opacity: 1;
        scale: 100%;
        transform: translateX(0);
    }
    
}
.about-me {

    & h2 {
        margin: 0 0 2em 6em;

        view-timeline-name: --text;
        view-timeline-axis: block;
        animation-timeline: --text;
        animation-name: show-text;
        animation-fill-mode: both;
        animation-range: entry 50% cover 80%;
    }
    & p {
        margin: 0 14em 1em 14em; 
        font-family: "Montserrat", sans-serif;

        view-timeline-name: --text;
        view-timeline-axis: block;
        animation-timeline: --text;
        animation-name: show-text;
        animation-range: entry 30% cover 40%;
    }
}

@keyframes show-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

footer {
    margin-top: 8em;

    & .footer-content {
        margin: 0 8em;
        padding: 0 2em;
        border-top: 0.1em solid #ffd369;
        height: 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .personal-info {
        margin: 0 3em;
        padding: 7.5em 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        & img {
            margin: 0;
        }

        & div {
            width: 600px;
        }

        & .social-links {
            justify-content: center;
        }
    }
    
    .projects {

        & h2 {
            margin: 0 0 0 2em;
        }

        & .container {
            flex-wrap: nowrap;
            
            & .card {

                & .imgBx {
                    max-width: 100%;
                    max-height: 100%;
                    left: 7%;
                    }
                }
            }
        }

    .education {
        & h2 {
            margin: 0 0 2em 2em;
        }
        .education-card {
            margin: 0 0 2em 10em;
        }
    }

    .about-me {
        & h2 {
            margin: 0 0 2em 2em;
        }
        & p {
            margin: 0 10em 1em 10em;
        }
    }
    .footer-content {
        margin: 0 3em !important;
    }
}

@media (max-width: 768px) {

    .projects h2 {
        margin: 0 0 0 3em;
        font-size: 1.5em;
        flex-wrap: wrap;
    }   
    
    .container {
        margin-top: 30px;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        gap: 50px;
        flex-direction: column;
    }
    
    .container .card {
        margin: 10px 0;
    }
    .container .card:hover {
        height: 215px;
        width: 680px;
    }

    .container .card:hover .content {
        margin-top: -150px;
        margin-left: 260px;
    }

    .personal-info {
        padding: 5em 0 5em 0;
        & h1 {
            font-size: 2em;
        }
        & h3 {
            font-size: 1.2em;
        }
    }
    .education {
        & h2 {
            font-size: 1.5em;
            margin: 0 0 2em 3em;
        }
        .education-card {
            margin: 0 0 1em 2em;

            & h4 {
                font-size: 1.2em;
            }
        }
    }
    .about-me {
        & h2 {
            font-size: 1.5em;
            margin: 0 0 2em 3em;
        }
        & p {
            font-size: 0.8em;
            margin: 0 6em 1em 6em;
        }
        
    }
}

@media (max-width: 480px) {

    .projects .card .imgBx {
        margin: 50px 0 0 25px;
        width: 180px;
    }
    .projects .card:hover .imgBx {
        margin: 50px 0 0 -25px;
        transition: 0.5s ease-in-out;

    }
    .container .card:hover .content {
        margin-top: -230px;
        margin-left: 180px;
    }

    .content h4 {
        font-size: 1.5em;
    }
    .content p {
        font-size: 0.8em;
    }
    .projects h2 {
        font-size: 1.2em;
    }

    .personal-info {
        
        & h1 {
            font-size: 1.5em;
        }
        
        & h3 {
            font-size: 1em;
        }
        & div {
            width: 350px;
        }
    }
    
    .navbar div {
        height: 3em;
    }

    .container .card {
        max-width: 100%;
    }
    
    .education {
        .education-card {
            width: 15em;
            height: 8em;
            margin: 1em 4em 1em 4em;
        }
    }
    .social-links {

        & a {
            border-radius: 2.2em;
            width: 1.5em;
            height: 1.5em;
            border: none;
            text-align: center;
            align-content: center;
        }
        & a:hover {
            background: transparent;
            transition: background 0.3s ease;
        }
        
        & a:hover i {
            color: #eeb42c !important;
            transition: color 0.3s ease;
        }
    }
    .button-primary {
        display: inline-block;
        background-color: transparent;
        text-align: center;
        align-content: center;
        border-radius: 4.5em;
    }
    
    .button-primary a {
        display: inline-block;
        width: 8em;
        height: 2.5em;
        background-color: #ffd369;
        font-size: 0.7em;
        font-weight: bold;
        border: 0.15em solid #ffd369;
        color: #000;
        text-decoration: none;
        transition: all 0.7s ease;
    }
    
    .button-primary a:hover {
        color: #ffd369;
        background-color: #000;
        border: 0.15em solid #ffd369;
        transition: background-color 0.5s ease;
    }

    .footer-content {
        & h6 {
            margin: 0.5em 0 0 0;
            font-size: 0.8em;
        }
    }
}
